@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #d52121;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  color: #333333;
}
body .site-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: "Work Sans", sans-serif;
}
body .site-wrapper .header-top-section {
  display: flex;
  width: 100%;
  padding: 12px 0;
}
body .site-wrapper .header-top-section .header-top-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .site-wrapper .header-top-section .header-top-container .left-side {
  display: flex;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li {
  list-style: none;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li:hover h4 {
  color: #d52121;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li:hover li {
  color: #d52121;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li .dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 100%;
  padding-top: 12px;
  left: 0;
  top: 50px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-top: 2px solid #d52121;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li .dropdown-container li {
  width: 100%;
  color: #000;
  list-style: none;
  cursor: pointer;
  position: relative;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li .dropdown-container li h4 {
  transition: color 0.2s ease;
  color: #000;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li .dropdown-container li:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li .dropdown-container li:hover h4 {
  color: #d52121;
}
body .site-wrapper .header-top-section .header-top-container .left-side ul li:hover .dropdown-container {
  opacity: 1;
  pointer-events: all;
}
body .site-wrapper .header-top-section .header-top-container .right-side {
  display: flex;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li {
  list-style: none;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li:hover h4 {
  color: #d52121;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li:hover li {
  color: #d52121;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li .dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 100%;
  padding-top: 12px;
  left: 0;
  top: 50px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-top: 2px solid #d52121;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li .dropdown-container li {
  width: 100%;
  color: #000;
  list-style: none;
  cursor: pointer;
  position: relative;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li .dropdown-container li h4 {
  transition: color 0.2s ease;
  color: #000;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li .dropdown-container li:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li .dropdown-container li:hover h4 {
  color: #d52121;
}
body .site-wrapper .header-top-section .header-top-container .right-side ul li:hover .dropdown-container {
  opacity: 1;
  pointer-events: all;
}/*# sourceMappingURL=style.css.map */