@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;

  &:hover {
    color: #d52121;
  }
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  color: #333333;

  .site-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-family: "Work Sans", sans-serif;
    // font-optical-sizing: auto;
    // font-weight: <weight>;
    // font-style: normal;

    .header-top-section {
      display: flex;
      width: 100%;
      padding: 12px 0;

      .header-top-container {
        width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-side {
          display: flex;

          ul {
            display: flex;
            gap: 30px;
            text-transform: uppercase;

            li {
              list-style: none;
              font-size: 16px;
              white-space: nowrap;
              position: relative;
              cursor: pointer;

              &:hover {
                h4 {
                  color: #d52121;
                }

                li {
                  color: #d52121;
                }
              }

              .dropdown-container {
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: white;
                width: 100%;
                padding-top: 12px;
                left: 0;
                top: 50px;
                z-index: 3;
                opacity: 0;
                transition: opacity 0.2s ease;
                pointer-events: none;
                border: 1px solid rgba(128, 128, 128, 0.3);
                border-top: 2px solid #d52121;

                li {
                  width: 100%;
                  color: #000;
                  list-style: none;
                  cursor: pointer;
                  position: relative;

                  h4 {
                    transition: color 0.2s ease;
                    color: #000;
                  }

                  &:not(:last-child) {
                    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
                  }

                  &:hover {
                    h4 {
                      color: #d52121;
                    }
                  }
                }
              }

              &:hover {
                .dropdown-container {
                  opacity: 1;
                  pointer-events: all;
                }
              }
            }
          }
        }

        .right-side {
          display: flex;

          ul {
            display: flex;
            gap: 30px;
            text-transform: uppercase;

            li {
              list-style: none;
              font-size: 16px;
              white-space: nowrap;
              position: relative;
              cursor: pointer;

              &:hover {
                h4 {
                  color: #d52121;
                }

                li {
                  color: #d52121;
                }
              }

              .dropdown-container {
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: white;
                width: 100%;
                padding-top: 12px;
                left: 0;
                top: 50px;
                z-index: 3;
                opacity: 0;
                transition: opacity 0.2s ease;
                pointer-events: none;
                border: 1px solid rgba(128, 128, 128, 0.3);
                border-top: 2px solid #d52121;

                li {
                  width: 100%;
                  color: #000;
                  list-style: none;
                  cursor: pointer;
                  position: relative;

                  h4 {
                    transition: color 0.2s ease;
                    color: #000;
                  }

                  &:not(:last-child) {
                    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
                  }

                  &:hover {
                    h4 {
                      color: #d52121;
                    }
                  }
                }
              }

              &:hover {
                .dropdown-container {
                  opacity: 1;
                  pointer-events: all;
                }
              }
            }
          }
        }
      }
    }
  }
}
